 body {
background-color: #FF3FA4; 
}

 .heading {
     color: #451952;
     text-align: center;
     background-color: #FFB6D9;
     width:800px;
     border: 10px solid #451952;
 }

 h1 {
     margin: 10px;
     
     font-size: 5rem;

 }

 h2 {
     margin-top: 0%;
 }

 .start>button {
     background-color: white;
     font-size: xx-large;
     margin: 40px;
 }

 .start {
     display: flex;
     justify-content: center;
 }

 .game {
     display: flex;
     justify-content: space-between;
 }

 .game img {
     height: 300px;
     width: 300px;
 }
